* {
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 26, 26);
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(214, 197, 109);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

div {
    align-items: center;
    width: 100vw;
}